{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="card p-2" style="width: 100%;">

    <div class="d-flex justify-content-between">
        <h4 class="text-center">{{title}}</h4>
        <a href="{{ url_for(link, id=id)}}" class="btn btn-primary w-20">Export Report</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    {% for col in columns %}
                    <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in data %}
                <tr>
                    {% for value in row.values() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}