{% extends 'base.html' %}

{% block title %}{{assessment[1]}}{% endblock %}

{% block content %}
<form method="POST" action="{{url_for('take_assessment', id=assessment[0])}}">
    <div class="card m-auto" style="width: 70%;">
        <h4 class="card-header text-bold text-center">
            {{assessment[2]}}
        </h4>
        <div class="card-body d-flex flex-row justify-content-between">
            <div class="d-flex flex-column w-50 ms-2">
                <label for="student_id" class="col-form-label me-3">Student ID:</label>
                <div>
                    <input type="text" class="form-control" id="student_id" name="student_id" value="{{session.get('student_id')}}" readonly required>
                </div>
            </div>
            <div class="d-flex flex-column w-50 ms-2">
                <label for="year_section" class="col-form-label me-3">Year and Section:</label>
                <div>
                    <input type="text" class="form-control" id="year_section" name="year_section" required>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Multiple Choice -->
            {% set multiple_choice = items | selectattr("type", "equalto", "Multiple Choice") | list %}
            {% if multiple_choice %}
                <h5 class="card-title mb-3">MULTIPLE CHOICE</h5>
                {% for item in multiple_choice %}
                <div class="d-flex flex-column mb-2">
                    <h6 class="text-bold"><span>{{loop.index~'.'}}</span> {{ item['question'] }}</h6>
                    {% for choice in item['choice'] %}
                    <div class="d-flex flex-row">
                        <input type="radio" id="{{'choices'~loop.index}}" name="answer_{{ item['id'] }}" value="{{choice}}" class="form-check-input me-2" {% if loop.first %}required{% endif %}>
                        <label for="{{'choices'~loop.index}}" class="form-check-label">{{choice}}</label>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            {% endif %}
            {% set identification = items | selectattr("type", "equalto", "Identification") | list %}
            {% if identification %}
            <h5 class="card-title mb-3">IDENTIFICATION</h5>
            {% for item in identification %}
            <div class="d-flex flex-column mb-2">
                <h6 class="text-bold"><span>{{loop.index~'.'}}</span> {{ item['question'] }}</h6>
                <input type="text" name="answer_{{ item['id'] }}" class="form-control w-50" required>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="card-footer d-flex flex-column justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_js %}
<script>
    
</script>
{% endblock %}